<!DOCTYPE html>
<html>
<head>
    <title>Welcome {{name}}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f2f2f2; color: #333333;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff;">
        <h1 style="color: #106D20; text-align: center; font-size: 28px;">Welcome to Eziqaat</h1>
        <p style="text-align: center; font-size: 16px; color: #333333;">Thank you for joining Eziqaat! We're excited to have you as part of our community.</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">You registered on {{time}} and your email address is {{email}}.</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">To complete your registration and verify your email address, please use the OTP (One-Time Password) provided below:</p>
        <div style="text-align: center; background-color: #10BD32; padding: 10px; border-radius: 5px; margin-top: 20px;">
            <p style="font-size: 20px; color: #ffffff; margin: 0; padding: 0;">Your OTP: {{otp}}</p>
        </div>
        <p style="text-align: center; font-size: 16px; color: #333333;">This OTP is valid for once only. If you didn't request this OTP, please ignore this email.</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">If you have any questions or need assistance, feel free to contact our support team at team.eziqaat@gmail.com</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">Once again, welcome to Eziqaat! We look forward to having you as an active member of our community.</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">Best Regards,</p>
        <p style="text-align: center; font-size: 16px; color: #333333;">The Eziqaat Team</p>
    </div>
</body>
</html>
